.album__wrapper {
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);

  position: absolute;
  left: 200px;
  background: rgb(29, 29, 29);
  background: linear-gradient(
    137deg,
    rgba(29, 29, 29, 1) 0%,
    rgba(3, 3, 3, 1) 100%
  );
  display: flex;
  flex-direction: row;
}

.album__info {
    width: 40%;
}

.album__tracks {
    width: 60%;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}